.task-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-label-elem {
    display: flex;
}

.task-action-container {
    display: flex;
    align-items: center;
}

.task-action-elem {
    margin-left: 5px;
    margin-right: 5px;
}

.task-valid {
    background-color: green;
    color: #FFF;
    border: white 1px solid;
    border-radius: 100px;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 12px;
    height: fit-content;
}

.task-invalid {
    background-color: red;
    color: #FFF;
    border: white 1px solid;
    border-radius: 100px;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 12px;
    height: fit-content;
}

.task-status {
    background-color: black;
    color: #FFF;
    border: white 1px solid;
    border-radius: 100px;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 12px;
    height: fit-content;
}

.task-description {
    font-size: 12px;
    color: grey;
}