.list-form {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.list-button {
    max-height: 194px;
    margin: 0 10px !important;
}

.list-textfield {
    margin: 0 10px !important;
}