.list-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-title:hover {
    cursor: pointer;
}

.list-del-icon {
    margin-left: 5px;
    margin-right: 5px;
}