.move-tasks-container {
    padding: 8px 16px;
    position: sticky;
    top: 0;
    background: gainsboro;
    z-index: 111;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 200px;
}

.move-tasks-elem {
    margin: 10px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.move-tasks-icon {
    margin: 0 5px 0 0 !important;
}